@using MyProject.Areas.Admin.ViewModels.ProductViewModels;
@{
    ViewData["Title"] = "Update";
}
@model UpdateProductViewModel

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create product</h4>
                    <form class="forms-sample" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="Image">Image</label>
                            <input asp-for="Image" class="form-control" placeholder="Image" accept="image/*">
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Title">Name</label>
                            <input asp-for="Name" class="form-control" placeholder="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Description">Description</label>
                            <input asp-for="Description" class="form-control" placeholder="Description">
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Price">Price</label>
                            <input asp-for="Price" class="form-control" placeholder="Price">
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Rating">Rating</label>
                            <input asp-for="Rating" class="form-control" placeholder="Rating">
                            <span asp-validation-for="Rating" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="CategoryId">Categories</label>
                            <select asp-for="CategoryId" class="data-list-input" asp-items="ViewBag.Categories" style="width:390px;">
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>